@keyframes fadeIn {
    from { 
      opacity: 0;
      transform: scale(0);
    }
      to { 
      opacity: 1;
      transform: scale(1);
    }
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    /* width: 100%; */
    border-radius: 10px;
    transition-duration: 0.5s;
    animation: fadeIn 1s;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 1px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.4s;
    animation: fadeIn 2s;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }